/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --coor-brandgr: #819857;
  --coor-beandwt: #faf4ea;
  --coor-brandgrd: #465929;
  --coor-brandbl: #31261a;
  --coor-brandps: #cfcfbc;
  --coor-brandtex: #a28268;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: var(--coor-beandwt);
  font-family: 'Poppins', sans-serif;
  color: var(--coor-brandbl);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  /* padding: 16px;*/
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
un {
  list-style-type: none;
}
h1 {
  color: crimson;
}
.jopa {
  color: bisque;
}
.chelu-slova p {
  margin-bottom: 24px;
}
.chelu-slova p:last-child {
  margin-bottom: 0px;
}
.button-baza {
  padding: 16px 32px;
  color: var(--coor-brandwt);
  background-color: var(--coor-brandgr);
  border: 2px solid var(--coor-brandgr);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button-baza:hover {
  color: var(--coor-brandgr);
  background-color: transparent;
}

.link {
  color: var(--coor-brandwt);
  text-decoration: none;
}
.link:hover {
  color: var(--coor-brandgr);
  font-weight: 600;
}
.centered {
  justify-content: center;
}

.metalugi-title {
  margin: 0 auto;
}

.metalugi-title::before,
.metalugi-title::after {
  content: '';
  display: block;
  width: 352px;
  height: 2px;
  background: var(--coor-brandps);
  margin-left: auto;
  margin-right: auto;
}
.heroin {
  color: var(--coor-brandwt);
  text-align: center;
  font-size: 128px;
  margin-bottom: 0;
}
.heroin .accent {
  color: var(--coor-brandgr);
}
.dzal .accent {
  color: var(--coor-brandgr);
}

.sum {
  color: var(--coor-brandwt);
  font-size: 20px;
  font-weight: 300;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.titi-1 span {
  color: var(--coor-brandgr);
  font-weight: 600;
}
.titi-1 .titi-2 {
  text-transform: uppercase;
}

.chelu {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

/* Заголовки секції металюг */
.titi {
  color: var(--coor-brandbl);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/* Центрування заголовка */
.titi.centered {
  text-align: center;
}

/* Спеціальні стилі для "Наші найкращі металюги" */
.metalugi-title {
  display: block;
  margin: 0 auto 60px auto; /* по центру + відступ вниз */
  text-align: center;
  position: relative;
  white-space: normal !important;
}

/* Псевдоелементи */
.metalugi-title::before,
.metalugi-title::after {
  content: '';
  display: block;
  width: 352px;
  height: 2px;
  background: var(--coor-brandps);
}
.metalugi-title::before {
  position: absolute;
  left: 0px;
  bottom: 24px;
}
.metalugi-title::after {
  position: absolute;
  right: 0px;
  bottom: 24px;
}

.pidz {
  font-size: 24px;
  font-weight: 600;
}
.pidz-text {
  font-size: 14px;
  font-weight: 300;
}
.conteiner {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  gap: 40px;
}
.kont {
  color: var(--coor-brandwt);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
}
.kont:hover {
  color: var(--coor-brandgr);
}
.conf {
  font-size: 14px;
}
.hero-sec {
  padding: 272px 0px;
  background-image: url('../images/hero-sec1.jpg');
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.sexx {
  padding: 48px 0;
}
.sexx-ul {
  padding: 48px 0 96px 0;
}
.hidan {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.Sex2 {
  padding-top: 96px;
}
.dzal {
  margin-bottom: 80px;
}
.titi-16 {
  margin-bottom: 16px;
  flex-shrink: 1;
}
map {
  width: 100%;
  max-width: 603px;
}
.egg {
  display: flex;
  align-items: center;
  gap: 40px;
}
.heared {
  background-color: lightgrey;
  align-items: center;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  gap: 40px;
}
.head-men {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.ozzy {
  width: 100px !important;
  height: 45x !important;
}
.peperev {
  background-color: var(--coor-brandgr);
  padding: 16px;
}
.sas {
  display: flex;
  gap: 40px;
}
/*.sas1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}*/
.kartuna {
  flex-shrink: 1;
}
.format {
  border: 1px solid azure;
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--coor-brandbl) 100%
  );
}
.forma-os {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
a {
  display: inline-block;
}
.forma-roz {
  flex-basis: calc((100% -40px) / 3);
}
.footer {
  background-image: url('../images/footer-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 20px;
  position: relative;
  overflow: hidden;
}
.testbox {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 20px auto;
  background-image: radial-gradient(red, violet);
}
.chelu-image {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--coor-beandwt),
    -16px 16px 0 2px var(--coor-brandtex);
}
.adres-icon {
  fill: var(--coor-beandwt);
}
.slide-button {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--coor-brandbl);
  padding: 0;
  fill: var(--coor-brandbl);
}
.slide-button:hover {
  background-color: var(--coor-brandbl);
  fill: /*var(--coor-beandwt)*/ red !important;
}
.chelu-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.chelu-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chelu-card {
  display: flex;
  gap: 30px;
}
.chelu-text {
}
.slider {
  display: flex;
  align-items: center;
  gap: 32px;
}
.amketa {
}
.kontakt-conteiner {
  display: flex;
  gap: 32px;
}
.karta {
  flex-shrink: 0;
  border-radius: 15px;
  border: none;
}
.conteiner-zad {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}
.titi-sas {
  color: var(--coor-brandbl);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.futa-counteiner {
  display: flex;
  gap: 20px;
}
.futa-nav {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.futa-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}
.futa-sent {
  flex-grow: 1;
}
footer::before,
footer::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  background-size: contain; /* <<< масштабує зображення */
  bottom: 0;
  z-index: 2;
}

footer::before {
  transform: rotate(-20deg); /* <<< ЛЕГКИЙ НАКЛОН ВЛІВО */
  transform-origin: bottom center; /* <<< ОБЕРТАЄТЬСЯ знизу — виглядає природно */
  width: 260px; /* Можеш збільшити щоб більше частини було невидимо */
  height: 500px; /* ВЕЛИКА ВИСОТА щоб було що ховати */

  left: -40px; /* трохи за межу сайту */
  bottom: -350px;
  background-image: url('../images/sword-2.png');
  position: absolute;
  content: '';
  background-image: url('../images/sword-2.png');
}
footer::after {
  width: 200px;
  height: 450px;
  right: -20px;
  bottom: -320px; /* <<< регулюй, щоб виглядало красиво */
  background-image: url('../images/sword-1.png');
  position: absolute;
  content: '';
  background-image: url('../images/sword-1.png');
}
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: relative;
  width: 880px;
  height: 880px;
  background-color: var(--coor-beandwt);
  border-radius: 32px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.button-modal-cls {
  position: absolute;
  top: 40px;
  right: 40px;
}
